table {
    border: solid 1px rgb(88, 72, 72);
    border-collapse: collapse;
}
table,th,td{
    border: solid 2px black;
}
.surumeika{
    background-color: brown;
}
th{
   background-color: rgb(59, 109, 180);
}
td{
    color: rgb(211, 45, 45);
}
th,td{
    padding: 30px;
    text-align: left;
    vertical-align: top;
}
.seven{
    background-color: red;
    border-radius: 10px;
    padding: 2px;
}
span{
    font-size: 0.5rem;
    background-color: rgb(38, 114, 47);
}