@charset "utf-8";
caption{
    background-color: rgb(106,90,205);
}
img{
    width:  80%;
    width: 200px;
    height: 200px;
}

head{
    text-align: center;
}
td,table,th{
    border:solid 4px black;
    border-collapse: collapse;
}
thead{
    background-color: rgb(255, 0, 34);
}